body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e98a23+0,e25728+48,ba2f6f+100 */
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;

background: #4CB8C4;
background: -moz-linear-gradient(bottom left,  #4CB8C4 0%,#3CD3AD 100%);
background: -webkit-linear-gradient(bottom left,  #4CB8C4 0%,#3CD3AD 100%);
background: linear-gradient(bottom left,  #4CB8C4 0%,#3CD3AD 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4CB8C4', endColorstr='#3CD3AD',GradientType=1);
}

.fb-like{
    height: 20px;
    overflow: hidden;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Light.ttf');
}

.pageHolder {
	padding-top: 50px;
}

.deviceHolder {
	text-align: center;
	margin-bottom: 40px;
}

.deviceImage {
	max-height: 500px;
	max-width: 100%;
}

.textHolder {
	color: white;
  font-family: 'lato-light';
	text-align: center;
}

.intro {
	text-align: center;
	color: white;
  font-family: 'lato-light';
	text-align: center;
	margin-bottom: 40px;
}

.introParagraph {
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom:25px;
}

.downloadButtonHolder {
	margin-bottom: 40px;
}


@media (min-width: 768px) {

	.pageHolder {
		padding-top: 100px;
	}
	.textHolder {
		text-align: left;
	}
	.intro {
		text-align: left;
	}

	.introParagraph {
		padding: 0;
	}
}
