
:root {
  --main-color: #FCFCFC;
  --blur: blur(10px);
}


body { 
  background: #3C3C3C url(https://images.unsplash.com/photo-1431794015670-1761ebb156ba) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /*Internet Explorer/Edge*/ 
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser*/ 
}

body:before {
  content: '';
  background: #3C3C3C url(https://images.unsplash.com/photo-1431794015670-1761ebb156ba) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: var(--blur);
  -moz-filter:var(--blur);
  -ms-filter: var(--blur);
  -o-filter: var(--blur);
  filter: var(--blur);
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;    
  z-index: -1;
}

body img{
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.Language img {
  border-radius: 3px;
}

.Main-Center{
  text-align: center;
  position: absolute;
  top: 42%;
  right:30%;
  left:30%;
}

.Regular{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-color);
  mix-blend-mode:hard-light;
}

.Name{
  font-size: 60px;
  color: var(--main-color);
;
}

a:hover, a:visited, a:link, a:active
{
  font-weight: 400;
  color: var(--main-color);
  text-decoration: none;
}

.social-icon{
  height:50px;
  fill: var(--main-color);
}

