body {
  background: #FAFAFA; 
}

.Language {
  position: absolute;
    top: 20px;
    right: 20px;}



.Background-Image img{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 600px;
  height: auto;
}



.Absolute-Centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.Home-Container {

}

.Code{
  text-align: center;
  font-family: 'Inconsolata';
  font-size: 28px;
  /*green*/
  color: #444444;
  /*blue*/
  /*color: #11876A;*/
}

.Regular{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
/*  font-weight: 300;
*/  font-size: 20px;
  /*line-height: 150%;*/
 
  color: #444444;
}

.Name{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 40px;
  /*line-height: 150%;*/
 
  color: #444444;
}

a.Text-Centered:hover, a.Text-Centered:visited, a.Text-Centered:link, a.Text-Centered:active
{
  color: #529ECC;
  text-decoration: none;
}

a.Regular:hover, a.Regular:visited, a.Regular:link, a.Regular:active
{
  /*green*/
  /*color: #003300;*/
  font-weight: 400;
  color: #529ECC;
  /*blue*/
  /*color: #ffffff;*/
  text-decoration: none;
}
