
body {
/*  background: #FAFAFA; */
  background: url(https://source.unsplash.com/category/nature)0 / cover fixed; 

}


.Language {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.7;

}

.Language img {
  border-radius: 3px;
}


.Background-Image img{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 600px;
  height: auto;
}



.Absolute-Centered:before {
    content: '';
  background: url(https://source.unsplash.com/category/nature)0 / cover fixed; 

  -webkit-filter: blur(5px);
           -moz-filter: blur(5px);
            -ms-filter: blur(5px);
             -o-filter: blur(5px);
                filter: blur(5px);
    position: absolute;
    top: 0;
    bottom:0;
   left: 0;
    right: 0;    
    z-index: -1;

  }

.Absolute-Centered {
  background: rgba(200,200,200,0.4);

  padding:30px;
  border-radius: 10px;


  /*display: flex;*/
  /*justify-content: :center;*/
  /*align-items:center;*/


  text-align: center;
  position: absolute;
  top: 25%;
  right:25%;
  left:25%;

}


.Code{
  font-family: 'Inconsolata';
  font-size: 22px;
  color: #7B7B7B;

}

.Regular{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #DEDEDE;
}

.Name{
  font-size: 50px;
  color: #363737;
}

a.Regular:hover, a.Regular:visited, a.Regular:link, a.Regular:active
{

  font-weight: 400;
  color: #529ECC;
  text-decoration: none;
}

