body {
    background-color: #19CC9F;
}
@fo
nt-face {
    font-family: 'inconsolata';
    src: url('./fonts/Inconsolata.otf');
}

@font-face {
    font-family: 'open_sans_light';
    src: url('./fonts/open_sans_light.ttf');
}



#main {
	text-align: center;
	color: #129272;
  width: 70%;
  height: 50%;
  overflow: auto;
  margin: auto;
	position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  font-family: 'open_sans_light';
	font-size: 28px;
}

a:hover, a:visited, a:link, a:active
{
    color: #286553;
    text-decoration: none;
}

#code{
  font-family: 'inconsolata';
  font-size: 28px;
}




