body {
    background-color: #19CC9F;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata.otf');
}

@font-face {
    font-family: 'Bariol';
    src: url('fonts/Bariol.ttf');
}

.Background img{
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 600px;
  height: auto;
  opacity: 0.06;
}

.Logo img{
   width: 18px;
  height: 18px;
    opacity: 0.5;
}

.Error img{
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 600px;
  height: auto;
  opacity: 0.5;
}

.Absolute-Centered {
  overflow: auto;
  margin: auto;
  position: absolute;
  width: 50%;
  height: 400px;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Code{
  text-align: center;
  color: #129272;
  font-family: 'inconsolata';
  font-size: 32px;
}

.Regular{
  text-align: center;
  color: #129272;
  font-family: 'Bariol';
  font-size: 32px;
}

a:hover, a:visited, a:link, a:active
{
    color: #286553;
    text-decoration: none;
}



/*background-color: #CE5352;
color: #2E3E56;
color: #1C2533;*/






