body {
    background-color: #19CC9F;
}
@font-face {
    font-family: 'inc';
    src: url('./fonts/Inconsolata.otf');
}

@font-face {
    font-family: 'open_sans_light';
    src: url('./fonts/open_sans_light.ttf');
}

@font-face {
    font-family: 'light';
    src: url('./fonts/light.otf');
}


#container {
	text-align: center;
	color: #129272;
/*    border:1px solid white;
*/	width: 70%;
  	height: 50%;
  	overflow: auto;
  	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;

  	font-family: 'inc';
	font-size: 28px;
	font-weight: bold;
}

a {
    color: #367F6D;
}

#test {
  text-align: center;
  color: #129272;
/*    border:1px solid white;
*/  width: 70%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    font-family: 'anglight';
  font-size: 28px;
  font-weight: bold;
}

#test2 {
  text-align: center;
  color: #129272;
/*    border:1px solid white;
*/  width: 70%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    font-family: 'light';
  font-size: 28px;
  font-weight: bold;
}
